@charset "ISO-8859-1";
     .scroller {
  block:display;
  width: 103%;
  height: 150px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;

  
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 8px solid transparent;
  background-clip: content-box;
}